{% extends 'base.html' %}

{% block page_title %}メトリクス詳細 | SDA{% endblock %}

{% block contents %}
<div class="m-4 d-flex justify-content-center">
    <div class="w-75 card">
        <div class="card-body">
            <div class="card-title">
                <a href="{% url 'metrics_list' %}">メトリクス</a> > 新規作成
            </div>
            <div class="mt-3">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="row m-2">
                            <div class="col-2">
                                {{ field.label_tag }}
                            </div>
                            <div class="col-10">
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success mt-4">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
